{% extends "clinic/base.html" %}
{% block content %}

    <h2>Appointments</h2>
    <a href="{% url 'appointment_create' %}">New Appointment</a>

    <table border="1">
        <tr>
            <th>Patient</th>
            <th>Provider</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for a in appointments %}
        <tr>
            <td>{{ a.patient.last_name }}, {{ a.patient.first_name }}</td>
            <td>{{ a.provider.name }}</td>
            <td>{{ a.start_time|date:"M. j, Y h:i A" }}</td>
            <td>{{ a.end_time|date:"h:i A" }}</td>
            <td>{{ a.reason }}</td>
            <td>
                {% if a.status == 'scheduled' %}
                    <span style="color: green;">{{ a.status|capfirst }}</span>
                {% else %}
                    <span style="color: red;">{{ a.status|capfirst }}</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'appointment_edit' a.id %}">Edit</a> |
                <a href="{% url 'appointment_cancel' a.id %}">Cancel</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}